<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qubin.mybatis.mapper.CategoryMapper">

    <resultMap id="category" type="Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="topCategory" column="topCategory_id" javaType="TopCategory" columnPrefix="t_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

</mapper>